version: "3"

services:
  yarn:
    image: node:8.4.0-alpine
    user: node
    working_dir: /home/node/app
    environment:
      NODE_ENV: development
    ports:
      - 3000:3000
      - 9876:9876
    volumes:
      # mount host yarn cache dir inside container for node user
      - .yarn-cache:/home/node/.cache/yarn/v1
      # mount project dir of host inside container for node user
      - .:/home/node/app
    command: yarn install
